/* plg_system_charaterscounterghsvs */
span.chars-length
{
	display:block;
}
/* span.chars-length .chars-remain
{
	background-color: #026433;
	color: #fff;
} */
/* span.chars-length.warn .chars-remain
{
	background-color: #64024c;
	color: #fff;
} */
span.chars-length.overflow .chars-remain
{
	background-color: #8f0101;
	color: #fff;
	font-weight: 700;
}
